<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="C5SMSSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Local-->
    <add name="C5SMSConnectionString" connectionString="Data Source=.; Initial Catalog=C5SDR_V5; Integrated Security=False; User=ProsoftUser; Password=hBnEy1ZDSrfXHYRe3jE8LDJjbrOBbwJItQiyO24HapU=; Connect Timeout=0" providerName="System.Data.SqlClient"/>    
        
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <C5SMSSystem.Properties.Settings>
      <setting name="SMSAppPassword" serializeAs="String">
        <value>hdULIIhcH45ll39xNYIczQ==</value>
      </setting>
      <setting name="isSendSmsOnUserCreation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CountryCode" serializeAs="String">
        <value>91</value>
      </setting>
      <setting name="isReadSMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isSendSMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
    </C5SMSSystem.Properties.Settings>
  </userSettings>
</configuration>
